<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="navbar">
            <ul class="menuList">
                <li>Sign In | Sign Up</li>
                <li>Leaderboards</li>
                <li>About</li>
            </ul>
        </div>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <div class="lobby">
            <div class="chat">
                <div class="chatMessages">
                    <div class="msgList"></div>
                    <div class="chatFooter">
                        <input type="text">
                    </div>
                </div>
                <div class="chatUsers">
                    <div class="usersList"></div>
                </div>
            </div>
        </div>
    </body>
</html>
