<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="navbar">
            <div class="navbarLeft">
                <li>Home</li>
                <li>Lobby</li>
                <li>Leaderboards</li>
            </div>
            <div class="navbarRight">
                <li>Sign In | Sign out</li>
                <li>Sign Up</li>
                <li>About</li>
            </div>
        </div>
        <div class="container">
            <p>Welcome to <%= title %></p>
            <div class="lobby">
                <div class="chat">
                    <div class="chatMessages">
                        <div class="chatList">
                            <li>Je m'appelle Mélenchon j'adore la France</li>
                            <li>ici naruto je viens détruire orichimaron</li>
                            <li>Je m'appelle Mélenchon j'adore la France</li>
                            <li>ici naruto je viens détruire orichimaron</li>
                            <li>Je m'appelle Mélenchon j'adore la France</li>
                            <li>ici naruto je viens détruire orichimaron</li>
                            <li>Je m'appelle Mélenchon j'adore la France</li>
                            <li>ici naruto je viens détruire orichimaron</li>
                            <li>Je m'appelle Mélenchon j'adore la France</li>
                            <li>ici naruto je viens détruire orichimaron</li>
                            <li>Je m'appelle Mélenchon j'adore la France</li>
                            <li>ici naruto je viens détruire orichimaron</li>
                        </div>
                        <div class="chatFooter">
                            <input type="text">
                            <div class="inputButton">Send</div>
                        </div>
                    </div>
                    <div class="chatUsers">
                        <span>Connected users</span>
                        <div class="chatList">
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                            <li>Jean Pierre Foucault</li>
                            <li>Astroboy</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
