<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/socket.io/socket.io.js"></script>
        <script src="scripts/angular/angular.js"></script>
        <script src="scripts/angular-cookies/angular-cookies.js"></script>
        <script src="scripts/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/app/bsApp.module.js"></script>
        <script src="/app/SocketService.js"></script>
        <script src="/app/AuthService.js"></script>
        <script src="/app/BaseCtrl.js"></script>
        <script src="/app/LobbyCtrl.js"></script>
        <script src="/app/GameCtrl.js"></script>
    </head>
    <body ng-app="bsApp" ng-controller="BaseCtrl">
        <div ng-include="'navbar.html'"></div>
        <div class="container">
            <ui-view></ui-view>
        </div>
        <div ng-include="'modal.html'"></div>
    </body>
</html>
