<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="scripts/angular/angular.js"></script>
        <script src="scripts/angular-route/angular-route.js"></script>
        <script src="/app/bsApp.module.js"></script>
        <script src="/app/LobbyCtrl.js"></script>
    </head>
    <body ng-app="bsApp" ng-controller="BaseCtrl">
        <div class="navbar">
            <div class="navbarLeft">
                <li ng-click="goToView('')">Home</li>
                <li ng-click="goToView('lobby')">Lobby</li>
                <li>Leaderboards</li>
            </div>
            <div class="navbarRight">
                <li>Sign In | Sign out</li>
                <li>Sign Up</li>
                <li>About</li>
            </div>
        </div>
        <div class="container" ng-view></div>
    </body>
</html>
