body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center; }

a {
  color: #00B7FF; }

.navbar {
  position: fixed;
  top: 0;
  background-color: lightblue;
  width: 100%;
  display: flex; }
  .navbar .title, .navbar .menuList li {
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s; }
    .navbar .title:hover, .navbar .menuList li:hover {
      background-color: #d4ebf2;
      font-size: 1.2em;
      font-weight: bold; }
  .navbar .title {
    margin: 0 auto; }
  .navbar .menuList {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0; }

.container {
  margin-top: 56px; }
  .container > p {
    padding-top: 10px; }

.lobby {
  display: flex;
  margin: auto;
  width: 60%;
  border: 1px solid grey;
  border-radius: 24px;
  padding: 20px; }
  .lobby .chat {
    display: flex;
    width: 100%;
    height: 400px; }
    .lobby .chat .chatList {
      overflow-y: scroll;
      text-align: left; }
      .lobby .chat .chatList li {
        list-style: none;
        padding: 10px 0;
        padding-left: 8px; }
        .lobby .chat .chatList li:nth-child(odd) {
          background-color: cornflowerblue; }
    .lobby .chat .chatMessages {
      display: flex;
      flex-direction: column;
      width: 70%;
      background-color: lightgrey; }
      .lobby .chat .chatMessages .chatFooter {
        margin: 8px 0;
        text-align: center;
        width: 100%;
        display: flex; }
        .lobby .chat .chatMessages .chatFooter input {
          margin: 20px;
          margin-right: 0;
          height: 26px;
          flex-grow: 1; }
        .lobby .chat .chatMessages .chatFooter .inputButton {
          margin-top: 20px;
          margin-right: 20px;
          padding: 5px;
          border: 1px solid rgba(0, 0, 0, 0.5);
          background-color: rgba(220, 20, 60, 0.5);
          height: 20px; }
    .lobby .chat .chatUsers {
      background-color: lightslategray;
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      .lobby .chat .chatUsers > span {
        padding: 10px;
        font-size: 17.5px;
        background-color: firebrick;
        color: whitesmoke; }
      .lobby .chat .chatUsers .chatList li {
        padding: 5px; }
        .lobby .chat .chatUsers .chatList li:nth-child(odd) {
          background-color: crimson; }
