<p>Welcome to the lobby.</p>
<div class="contentEdge">
    <div class="content">
        <div class="chatMessages">
            <div id="messagesContainer" class="chatList">
                <li ng-repeat="msg in messages" ng-class="{status: msg.type == 'status'}">
                    <span class="pseudo">{{msg.sender}}</span>
                    <span>{{msg.text}}</span>
                </li>
            </div>
            <form class="chatFooter" ng-submit="sendMessage($event)" ng-if="user">
                <div class="inputGroup">
                    <span id="fromUser" class="inputBefore">@{{user.username}}</span>
                    <input type="text" id="msgInput" ng-keypress="writeMessage()">
                </div>
            </form>
            <span id="isWritingField">{{isWriting}}</span>
            <div class="gameActions" ng-if="user">
                <div class="actionBar">
                    <button type="button" ng-click="createGame()" ng-disabled="">Create Game</button>
                    <button type="button" ng-click="" ng-disabled="">Join Game</button>
                </div>
            </div>
        </div>
        <div class="chatUsers" ng-if="currentUsers.length != 0">
            <span>Connected users</span>
            <div id="loggedUsers" class="chatList">
                <li ng-repeat="current in currentUsers">{{current.name}}</li>
            </div>
        </div>
    </div>
</div>