body {
    $baseFontSize: 14px !global;
    font: $baseFontSize "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    text-align: center;
}

a {
    // color: #00B7FF;
    color: inherit;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: lightblue;
    width: 100%;
    display: flex;
    height: 56.8px;
    overflow-y: hidden;

    %navbarMenu {
        display: flex;
        list-style: none;
        margin: auto;
        padding: 0;

        li {
            @extend %navbarHover;
        }
    }

    %navbarHover {
        padding: 20px;
        color: midnightblue;
        // text-shadow: 1px 1px rgba(black, 0.3);
        font-size: 16px;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
            color: dodgerblue;
            text-shadow: none;
            background-color: lighten(lightblue, 10%);;
            font: {
                size: 1.4em;
                weight: bold;
            }
        }
    }

    .navbarLeft {
        @extend %navbarMenu;
        margin: 0 auto;
    }

    .navbarRight {
        @extend %navbarMenu;
    }
}

.container {
    margin-top: 56px;

    > p {
        padding-top: 10px;
    }
}

.lobby {
    display: flex;
    margin: auto;
    width: 60%;
    border: 1px solid grey;
    border-radius: 24px;
    padding: 20px;

    .chat {
        display: flex;
        width: 100%;
        height: 400px;

        .chatList {
            overflow-y: scroll;
            text-align: left;

            li {
                list-style: none;
                padding: 10px 0;
                padding-left: 8px;

                &:nth-child(odd) {
                    background-color: cornflowerblue;
                }
            }
        }

        .chatMessages {
            display: flex;
            flex-direction: column;
            width: 75%; 
            background-color: lightgrey;

            .chatFooter {
                margin: 8px 0;
                text-align: center;
                width: 100%;
                display: flex;
                $inputMargin: 20px;

                input {
                    margin: 0 0 $inputMargin $inputMargin;
                    height: 26px;
                    flex-grow: 1;
                }

                .inputButton {
                    margin-right: $inputMargin + 4;
                    padding: 6px;
                    border: 1px solid rgba(black, 0.5);
                    background-color: rgba(crimson, 0.5);
                    height: 18px;
                }
            }
        }

        .chatUsers {
            background-color: lightslategray;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            > span {
                padding: 10px;
                font-size: $baseFontSize * 1.25;
                background-color: dodgerblue;
                color: whitesmoke;
            }

            .chatList li {
                padding: 4px;
                text-align: center;

                &:nth-child(odd) {
                    background-color: lightskyblue;
                }
            }
        }
    }
}

.leaderboards {
    width: 50%;
    margin: auto;
    // background-color: lightblue;

    table, th, td {
        border: 1px solid rgba(black, 0.1);
        border-collapse: collapse;
    }

    table {
        margin: auto;
        
        th, td {
            padding: 10px 25px;
        }

        // tr + tr:nth-child(odd) {
        //     background-color: lightcyan;
        // }
    }

    .searchUser {
        margin-top: 25px;

        input {
            height: 30px;
            width: 300px;
            text-align: center;
            font-size: 22px;
            border: none;
            border-bottom: 1px solid rgba(black, 0.5);
            margin-left: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            transition: all 0.1s;

            &:focus {
                outline: none;
                box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
            }
        }
    }

}

/* LOGIN / REGISTER MODAL */

@keyframes fadeIn {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes slideFromRight {
	from { right: -100px; opacity: 0 }
	to { right: 0; opacity: 1 }
}

@keyframes slideFromLeft {
	from { left: -100px; opacity: 0 }
	to { left: 0; opacity: 1 }
}

#login-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#login-content {
    position: relative;
    margin: 10% auto;
    animation-name: slideFromRight;
    animation-duration: 0.4s;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    color: #B6CDBD;
    border-radius: 20px;

    #content-container {
        background-color: #233142;
        position: relative;
        width: 100%;

        #title-container {
            font-size: 36px;
            text-align: center;
            margin-top: 10px;
        }

        #form-swap-button {
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid;
            border-color: rgba(182, 205, 189, 0.4);
            border-top: none;
            border-right: none;
            font-size: 24px;
            padding: 10px 20px;
            background-color: rgba(0,0,0,0.3);
            cursor: pointer;
        }

        #form-container {

            input[type=text], input[type=password] {
                margin: 15px auto;
                padding: 5px 0;
                font-size: 16px;
                transition: all 0.5s;
                box-shadow: none;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #555;
                color: #B6CDBD;
                width: 50%;

                &:hover {
                    box-shadow: 0px 8px 8px -8px #666;
                }

                &::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.35);
                }

                &:focus {
                    outline: none;
                    box-shadow: 0px 10px 10px -8px #666;
                }
            }

            input[type=submit] {
                background-color: #5bc0de;
                border: none;
                color: #233142;
                margin: 15px auto;
                font-size: 20px;
                padding: 10px;
                border-radius: 4px;
                width: 30%;
            }

            .modalForm {
                position: relative;
                animation-name: slideFromRight;
                animation-duration: 0.4s;
                display: flex;
                flex-direction: column;
            }

            .register {
                animation-name: slideFromLeft;
            }
        }
    }
}